repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos
