[Unit]
Description=Collect system metrics periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=1s
Unit=symmetri.service

[Install]
WantedBy=timers.target
